@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,600;1,800;1,900&display=swap');

:root {
    --white-font: rgb(255, 255, 255);
    --transparent-black: rgba(0, 0, 0, 0.681);
    --border-color: rgba(85, 85, 85, 0.528);
}

html {
    font-family: Playfair Display, sans-serif;
}

body {
   /* background-image: url("./pic.png"); */
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
#header {
    background-color: var(--transparent-black);
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--border-color);

}

button {
    margin: 10px;
    height: 45px;
    width: 72.81px;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    color: var(--white-font);
}

#content-Div {
    width: 55vw;
    height: 85vh;
    background-color: var(--transparent-black);
    margin: 4rem;
    
    
}

div#content {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}